[Unit]
Description=MAC monitor
Wants=network-online.target
After=multi-user.target
[Service]
User=monitor
ExecStart=/usr/bin/python3 /your_path_goes_here/flask_service.py
[Install]
WantedBy=multi-user.target