[Desktop Entry]
Name=WireGuard VPN OFF
GenericName=Disable the WireGuard connection to Home
Comment=
Exec=../wg-enable.sh home-vpn down
Type=Application
Icon=../icons/WireGuard.png
Terminal=false
