[Desktop Entry]
Name=WireGuard VPN ON
GenericName=Set on the WireGuard connection to Home
Comment=
Exec=../wg-enable.sh home-vpn up
Type=Application
Icon=../icons/WireGuard.png
Terminal=false
